.theme-default-content:not(.custom){
    max-width:1100px;
}

.page .page-edit, .page .page-nav {
    max-width:1100px;
}

ul li{
    margin-bottom:10px;
}

.bg{
  position:absolute;
  width:100vw;
  height:100vh;
  left:0;
  top:0;
}
.bg-cover{
  height:100%;
  background-position:center;
  background-size:cover;
  position:absolute;
  top:0;
  right:0;
  user-select:none;
}
.hero{
  display:none;
}

.content{
  position:relative;
  min-height:60vh;
  line-height:1;
  z-index:1;
  display:flex;
  flex-direction:column;
  justify-content: center;
}

.titleText{
  font-size:48px;
}
.info{
  font-size:22px;
}
.list{
  margin-top:40px;
  display: flex;
  flex-wrap: wrap;
}
.action-button{
    padding: 8px 20px 10px 20px;
    font-size: 16px;
    border-radius: 40px;
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 0 rgba(0,0,0,0.045);
    margin-bottom:15px;
}

.link-button{
    padding: 8px 20px 10px 20px;
    font-size: 16px;
    border-radius: 40px;
    color: rgba(0,0,0,0.65);
        border: 1px solid transparent;
    box-shadow: 0 2px 0 rgba(0,0,0,0.015);
    background-color: #fff;
    border-color: #d9d9d9;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.12);
    margin-left:15px;
    margin-bottom:15px;
}
::-webkit-scrollbar {
	width: 4px;
	height: 8px;
  border-radius:10px;
}
::-webkit-scrollbar-thumb {
	background-color: #bfbfbf;
}

strong{
    color:#3eaf7c;
    margin-right: 5px;
}

video{
  width:100%;
}
